body {
    font-family: 'Ubuntu', sans-serif;
}

.section-container {
    background-color: White;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 50px;
}

section .column {
    text-align: left;
}

#course-overview-container .left-column {
    padding-left: 30px;
    padding-right: 15px;
}

#course-overview-container .right-column {
    padding-right: 30px;
    padding-left: 15px;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

#tutor-image {
    border-radius: 5px;
}

.text-wrap {
    float: left;
    margin: 10px;
}

#social-links a {
    font-size: 2em;
    text-decoration: none;
    padding-right: 10px;
}

hr.thin-hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

i.fa.fa-li {
    font-size: 1.8em;
}

h2 i.fa {
    padding-right: 20px;
}

#table-of-contents-container ul.fa-ul li {
    line-height: 1.5em;
    font-size: 1.4em;
    margin-left: 30px;
}

#table-of-contents-container ul.fa-ul li i.fa {
    font-size: 0.9em;
}

i.fa-youtube.preview {
    padding-left: 10px;
}

a.preview-link {
    text-decoration: none;
    font-size: 0.9em;
}
