---
layout: default
---

<div class="blog-index">
  <div>
    <hr/>
    <h1>My Contact Details</h1>
  </div>

  <article>

    <div>
      <a href="my-contact-details">My Contact Details</a>
    </div>

    <div>
      <a href="cv/">Read about Me</a>
    </div>

    <br/>

  </article>

  <div>
    <hr/>
    <h1>My Online Courses</h1>
    <h2 style="margin-left: 20px;">I am an <a href="https://www.educative.io/profile/view/5897863717453824">Educative.io Course Author</a></h2>
  </div>

  <article>
    <div>
      <a href="https://www.educative.io/courses/getting-started-sql-relational-databases">Getting Started with SQL and Relational Databases</a>
    </div>

    <br/>

  </article>

  <div>
    <hr/>
    <h1>My Books</h1>
  </div>

  <article>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/01%20-%20Master%20HTML%20&%20CSS">Master HTML &amp; CSS</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/02%20-%20Integrated%20Development%20Environments%20-%20RubyMine">Integrated Development Environments - RubyMine</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/03%20-%20Version%20Control%20Systems%20-%20Git">Version Control Systems - Git</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/04%20-%20Twitter%20Bootstrap%20Part%20A">Twitter Bootstrap Part A</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/05%20-%20Introduction%20to%20Programming">Introduction to Programming</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/06%20-%20JavaScript">JavaScript</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/07%20-%20Twitter%20Bootstrap%20Part%20B">Twitter Bootstrap Part B</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/08%20-%20Syntactically%20Awesome%20Style%20Sheets%20(Saas)">Syntactically Awesome Style Sheets (Saas)</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/09%20-%20Introduction%20To%20Testing">Introduction To Testing</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/10%20-%20SQL%20Essentials">SQL Essentials</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/11%20-%20Programming%20with%20Ruby">Programming with Ruby</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/13%20-%20Client%20Server%20Programming">Client Server Programming</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/14%20-%20Introduction%20to%20Web%20Development">Introduction to Web Development</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/15%20-%20Ruby%20on%20Rails">Ruby on Rails</a>
    </div>
    <div>
      <a href="https://github.com/pmatsinopoulos/my_books/blob/main/Full%20Stack%20Web%20Developer/16%20-%20NoSQL%20Databases%20-%20MongoDB">NoSQL Databases - MongoDB</a>
    </div>
    <div>
      <a href="https://www.apress.com/gp/book/9781484260708">Practical Bootstrap</a>
    </div>
    <div>
      <a href="https://www.apress.com/gp/book/9781484261408">Practical Test Automation</a>
    </div>

    <br/>

  </article>

  <div>
    <hr/>
    <h1>My Projects</h1>
  </div>

  <article>
    <div>
      <a href="https://www.rayo.gr">Web-2-SMS Gateway</a>
    </div>
    <div>
      Car &amp; Motorcycle Management
    </div>
    <div>
      <a href="projects/book_and_table">Book&amp;Table - Jul. 2014 - Jan. 2016</a>
    </div>
    <div>
      <a href="projects/e-travel-crm">E-TRAVEL CRM - Oct. 2012 - Jul. 2014</a>
    </div>
    <div>
      <a href="projects/wyngle">Wyngle - Oct. 2013 - Dec. 2014</a>
    </div>
    <div>
      <a href="projects/fraudpointer">Fraudpointer S.A. Dec 2010 - Jan. 2016</a>
    </div>
    <div>
      <a href="projects/mutants">Mutants - May 2014</a>
    </div>
    <div>
      <a href="projects/ezmta/">Easy Material Transfer Agreements - Jan. 2013</a>
    </div>
    <div>
      <a href="projects/villasbroker/">Villasbroker - Aug. 2011</a>
    </div>
    <div>
      <a href="projects">[ All ]</a>
    </div>

    <br/>
  </article>

  <div>
    <hr/>
    <h1>My Achievements</h1>
  </div>

  <div class="bootcamp">
    <div>
      <div class="title">
        <a href="https://opensea.io/item/matic/0xdBf2138593aeC61d55d86E80b8ed86D7b9ba51F5/14414">zkML Bootcamp - Feb/Mar 2025</a>
      </div>
      <div>
        <a href="https://opensea.io/item/matic/0xdBf2138593aeC61d55d86E80b8ed86D7b9ba51F5/14414">
          <img src="images/zkml-bookcamp.jpg" alt="zkML Bootcamp - Feb/Mar 2025" class="badge"/>
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="hackathon">
    <div class="title">
      <a href="https://collectors.poap.xyz/scan/0x324e9e13dd19528d0f390201923d17c4b7e94462">POAPs</a>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="hackathon">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7390427">ETHGlobal Cannes 2025</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7390427">
          <img src="images/ethglobal-cannes-2025.webp" alt="ETHGlobal Cannes 2025 Badge" class="badge"/>
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>


  <div class="bootcamp">
    <div>
      <div class="title">
        <a href="https://opensea.io/assets/matic/0xdBf2138593aeC61d55d86E80b8ed86D7b9ba51F5/13477">Advanced Solidity Bootcamp - Sep/Oct 2024</a>
      </div>
      <div>
        <a href="https://opensea.io/assets/matic/0xdBf2138593aeC61d55d86E80b8ed86D7b9ba51F5/13477">
          <img src="images/advanced-solidity-bootcamp-encode-club-sep-oct-2024.jpg" alt="Advanced Solidity Bootcamp - Sep/Oct 2024" class="badge"/>
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="bootcamp">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7257979">Chainlink Tokenized RWA - Oct 2024</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7257979">
          <img src="images/tokenized-rwa-bootcamp-2024-logo-1727110461015.gif" alt="Chainlink Tokenized RWA - Oct 2024 Badge" class="badge"/>
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="hackathon">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7208431">ETHRome 2024 Hackathon</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7208431">
          <img src="images/ethrome-2024.gif" alt="ETHRome 2024 Hackathon" class="badge"/>
        </a>
      </div>
      <div>
        <a href="https://taikai.network/ethrome/hackathons/ethrome-24/projects/cm1w8zqt003rq148w4heae8xm/idea">
          Project presentation page - Onchain Advent
        </a>
      </div>
      <div>
        <a href="https://onchainadvent.xyz/">
          Project Demonstration Link
        </a>
      </div>
      <div>
        <a href="https://github.com/RubenSousaDinis/onchain-advent">
          Project Source Code
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="bootcamp">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7202804">Chainlink CCIP Bootcamp Aug 2024</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7202804">
          <img src="images/chainlink-ccip-bootcamp-poap-1.png" alt="Chainlink CCIP Bootcamp Aug 2024 Badge" class="badge"/>
        </a>
      </div>
      <div>
        <a href="https://github.com/pmatsinopoulos/ccip-bootcamp-2024-08">
          CCIP Bootcamp - Homework 1
        </a>
      </div>
      <div>
        <a href="https://github.com/pmatsinopoulos/ccip-bootcamp-2024-08-homework-2">
          CCIP Bootcamp - Homework 2
        </a>
      </div>
        <a href="https://github.com/pmatsinopoulos/ccip-bootcamp-2024-08-homework-3">
          CCIP Bootcamp - Homework 3
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="hackathon">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7187021">ETHGlobal Superhack 2024 Hacker</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7187021">
          <img src="images/superhack2024.png" alt="ETHGlobal Superhack 2024 Badge" class="badge"/>
        </a>
      </div>
      <div>
        <a href="https://ethglobal.com/showcase/attestation-explorer-4b5o6">
          Project presentation page - Attestation Explorer
        </a>
      </div>
      <div>
        <a href="https://attestation-explorer-seven.vercel.app/">
          Project Demonstration Link
        </a>
      </div>
      <div>
        <a href="https://github.com/francisco-leal/attestation-explorer">
          Project Source Code
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  <div class="hackathon">
    <div>
      <div class="title">
        <a href="https://collectors.poap.xyz/token/7169069">ETHGlobal Brussels 2024</a>
      </div>
      <div>
        <a href="https://collectors.poap.xyz/token/7169069">
          <img src="images/ethglobal-brussels-2024.webp" alt="ETHGlobal Brussels 2024 Badge" class="badge"/>
        </a>
      </div>
      <div>
        <a href="https://ethglobal.com/showcase/builder-cards-88k0j">
          Project presentation page - Builder Cards
        </a>
      </div>
      <div>
        <a href="https://www.builder.cards/">
          Project Demonstration Link
        </a>
      </div>
      <div>
        <a href="https://github.com/francisco-leal/builder-cards">
          Project Source Code
        </a>
      </div>
    </div>

    <hr class="achievement_divider"/>
  </div>

  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
